
  .q4tjz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .q4tjztitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q4tjztitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .q4tjztitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .q4tjztitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .q4tjztitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .q4tjzbody {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .q4tjzmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .q4tjzmenulist {
    width: calc(100% - 20px);
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .q4tjzmenubody {
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q4tjzmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .q4tjzmenulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .q4tjzmenulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .q4tjzmenulistactive {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .q4tjzmenulistbody {
    width: 100%;
  }


  @media screen and (min-width: 1024px) {
    .q4tjzbodylogo {
      height: 100px;
      max-width: 90vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 1024px) {
    .q4tjzmenu {
      overflow-x: auto;
    }

    .q4tjzmenulist ul {
      flex-direction: row;
    }

    .q4tjzbodylogo {
      width: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .q4tjzmenulist ul a {
      font-size: 14px;
    }
  }


  #content {
    justify-content: start;
  }

  .mws9t {
    width: var(--max);
    margin-top: 20px;
    gap: 10px;
    float: left;
    position: relative;
  }

  .mws9t-menu-btn {
    display: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    justify-content: space-between;
    align-items: center;
  }

  .mws9t-menu-btn i {
    font-size: 20px;
  }

  .mws9t-menu {
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    float: left;
  }

  .mws9t-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
  }

  .mws9t-menu>a {
    background-color: #fff;
    padding: 10px;
    float: left;
    border-radius: 5px;
  }

  .mws9t-menu>.active,
  .mws9t-menu>a:hover {
    background-color: #007334;
    color: #fff;
    display: flex;
  }

  .mws9t-desc-menu {
    width: 200px;
    background-color: #007334;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .mws9t-desc-menu>div {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
  }

  .mws9t-desc-body {
    display: flex;
    justify-content: space-between;
  }

  .mws9t-title {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .mws9t-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/page/gizlilikpolitikasi/bg/ormrn.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
  }

  .mws9t-title span {
    position: relative;
    z-index: 2;
    font-size: 50px;
  }

  .mws9t-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  .mws9t-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--max) - 460px);
  }

  .mws9t-img img {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .mws9t-desc {
      width: calc(var(--max) - 240px);
    }
  }

  @media screen and (max-width: 1024px) {
    .mws9t-menu-btn {
      display: flex;
      width: calc(100% - 55px);
      margin-left: 5px;    }

    .mws9t {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      gap: 5px;
          margin-top: 0px;

    }

    .mws9t-img {
      width: 100%;
    }

    .mws9t-body {
      width: 100%;
      order: 3;
      padding: 10px;
    }

    .mws9t-menu {
      width: 100%;
      float: none;
      flex-direction: column;
      order: 1;
      display: none;
    }

    .mws9t-menu.active {
      display: flex;
    }

    .mws9t-desc {
      width: 100% !important;
      order: 2;
    }
  }




  .sliderxshzocbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 25px 0px 25px 0px;
    margin: 30px 0px 0px 0px;
  }
  .sliderxshzoc {
    width: var(--max);
    margin: 10px 0px 10px 0px;
  }
  .swiper-pagination-shzoc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }
  .sliderxshzoctitle {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1024px) {
    .sliderxshzoc {
      width: 100%;
    }
  }
  .swiper-button-prev-shzoc,
  .swiper-button-next-shzoc {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    z-index: 10;
    opacity: 0.4;
  }
  .swiper-slide > .swiper-slide33 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }
  .shzoc {
    overflow-x: auto;
  }
  .shzoc::-webkit-scrollbar {
    display: none;
  }
  .modulchildshzoc2 {
    aspect-ratio: 1/1;
    text-align: -webkit-center;
    object-fit: cover;
    /* Resmin oranını korur ve taşıyıcı kutuya sığdırır */
    width: 100%;
    float: left;
    border-radius: 8px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
  }
  .modulchildshzoc3 {
    float: left;
    padding: 5px;
  }


  .whatsapp {
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 5px;
    background-color: #4dc247;
    display: flex;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: #000 !important;
    z-index: 10000;
    padding-right: 20px;
  }
  .whatsappicon {
    width: 40px;
    height: 40px;
  }


  .footer {
    position: relative;
    background: #000;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

